body{
  font-size: 16px;
}
.icon {
  background-color: #f59995;
  display: inline-block;
  border-radius: 50%;
  width: 7.5em;
  height: 7.5em;
  position: relative;
  margin-top: 200px;
  font-family: monospace;
  text-align: center;
}
.icon .svg-icon {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25%;
  margin-top: -25%;
}
.icon .text {
  margin-top: 2em;
  color: #f59995;
  border-radius: 50%;
  display: inline-block;
  padding: 0.25em;
  font-size: 0.75em;
}
.svg-icon {
  stroke: #fff;
}
.svg-icon svg {
  width: 100%;
  height: 100%;
}
.svg-icon svg path,
.svg-icon svg line,
.svg-icon svg polyline {
  stroke-width: 1px;
}
